<section *ngIf="{loading: loading$ | async, pageLoading: pageLoading$ | async, message: message$ | async, tasksList: tasksList$ | async, summary: summary$ | async } as streams">
    <ng-container *ngIf="streams?.pageLoading; else showContent">
        Loading....
    </ng-container>
    <ng-template #showContent>
        <div *ngIf="streams?.message" class="message-wrapper" [ngClass]="
        (streams?.message ?? '').includes('success')
          ? 'success-message'
          : 'error-message'
      ">
            {{ streams?.message }}
        </div>
        <div>
            <div>
                <ng-container *ngIf="streams?.summary">
                    <ng-container *ngIf="!!streams?.loading; else showSummary">
                        Loading...
                    </ng-container>
                    <ng-template #showSummary>
                        <div *ngFor="let item of streams?.summary | keyvalue">
                            <div>{{ item.key }}</div>
                            <div>{{ item.value }}</div>
                            <div>|</div>
                        </div>
                    </ng-template>

                    <button class="create-button" (click)="onCreateTask()">
                        Create Task
                    </button>
                </ng-container>
            </div>
            <app-task-list [tasksList]="streams?.tasksList" [loading]="!!streams?.loading"
                (edit)="onEditTask($event)" (delete)="onDeleteTask($event)"></app-task-list>
        </div>
        <app-task-form *ngIf="showTaskForm" [isEdit]="!!taskToUpdate" [task]="taskToUpdate" (save)="onSaveTask($event)"
            (update)="onUpdateTask($event)" (close)="onCloseForm()"></app-task-form>
    </ng-template>
</section>