/* You can add global styles to this file, and also import other style files */

:root {
  --color-primary: #4f46e5;
  --color-primary-hover: #6366f1;
  --color-success: #22c55e;
  --color-error: #ef4444;
  --color-bg: #ffffff;
  --color-bg-secondary: #f3f4f6;
  --color-bg-overlay: rgba(0, 0, 0, 0.4);
  --color-border: #e5e7eb;
  --color-text: #111827;
  --color-grey: #6b7280;
  --border-radius: 12px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  background-color: #f9fafb;
  margin: 0;
  padding: 0;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}
* {
  box-sizing: border-box;
}
